.DogListContainer {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: block;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ecf0f1;
  background-image: url('../images/backround.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}